$font-stack: Source Serif, serif;

.app-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.app-test {
  font-family: $font-stack;
  margin: 0;
}
