$button-color: #f6f6f6;
$font-stack: Source Serif, serif;
$display-fontsize: 1rem;

.theme-font {
  font-size: $display-fontsize;
  font-family: $font-stack;
}

@mixin gridify($cols, $gap) {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: $gap;
}

.display-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 15px 0 15px;
  width: 78%;
}

.display-grid {
  @include gridify(20%, 1%);

  align-self: center;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 50px;

  a {
    color: #383838;
    text-decoration: none;
  }
}

.display-detail {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  width: 100%;
}

.display-footer {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  // height: 50px;
  margin-top: -50px;
  width: 90%;
}

.display-clear {
  @extend .theme-font;

  align-items: center;
  background-color: $button-color;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: -50px;
  width: 100px;
}


.display-clear:hover {
  border: 1px solid #b2b2b2;
  cursor: pointer;
}

.display-clear:active {
  transform: translateY(1px);
}

.pagination-ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    text-align: center;
    width: 22px;
  }
}

.pagination-link {
  color: #2f2f2f;
  list-style: none;
  text-decoration: none;
}

.pagination-link:visited {
  color: #2f2f2f;
}

.pagination-active {
  cursor: default;
  border-bottom: 1px solid #000;
  font-weight: 800;
  pointer-events: none;
}

@media (max-width: 850px) {
  .display-container {
    width: 80%;
  }
}
