$default-font-size: 16px;

@font-face {
  font-family: 'Source Serif';
  src: url('../assets/fonts/SourceSerifPro-Regular.ttf');
}

@font-face {
  font-family: 'Source Serif';
  src: url('../assets/fonts/SourceSerifPro-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Source Serif';
  src: url('../assets/fonts/SourceSerifPro-Bold.ttf');
  font-weight: 800;
}

html, body {
  font-size: $default-font-size;
  height: 100%;
  margin: 0;
  padding: 0;
}
