$font-stack: Source Serif, serif;
$border-radius: 10px;

@mixin swatch-shadow($opa) {
  box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, $opa);
}

.swatch-small {
  height: 160px;
  margin-bottom: 30px;
  margin-left: 60px;
  width: 140px;

  a {
    color: #383838;
    text-decoration: none;
  }
}

.swatch-container {
  @include swatch-shadow(0.2);

  border: 1px solid #e8e8e8;
  border-radius: $border-radius;
  height: 100%;
  width: 100%;
}

.swatch-container:hover {
  @include swatch-shadow(0.3);
}

.swatch-display {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: 5px;
  height: 80%;
}

.swatch-label {
  align-items: center;
  display: flex;
  font-family: $font-stack;
  height: 20%;
  justify-content: flex-start;
  padding-left: 10px;
}
