$font-stack: Source Serif, serif;
$border-radius: 10px;

@mixin swatch-shadow($opa) {
  box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, $opa);
}

@mixin swatch-label($fSize, $pad) {
  font-family: $font-stack;
  font-size: $fSize;
  padding-left: $pad;
}

.swatch-small {
  // display: inline-block;
  height: 160px;
  margin: 0 20px;
  margin-bottom: 30px;
  width: 140px;
}

.swatch-large {
  height: 400px;
  min-width: 300px;
  width: 90%;
}

.swatch-container {
  @include swatch-shadow(0.2);

  border: 1px solid #e8e8e8;
  border-radius: $border-radius;
  height: 100%;
  width: 100%;
}

.swatch-container:hover {
  @include swatch-shadow(0.3);
}

.swatch-display {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: 5px;
  height: 80%;
}

.swatch-label-small {
  @include swatch-label(1rem, 10px);

  align-items: center;
  display: flex;
  height: 20%;
  justify-content: flex-start;
}

.swatch-label-large {
  @include swatch-label(1.8rem, 50px);

  align-items: center;
  display: flex;
  height: 20%;
  justify-content: flex-start;
}
