$container-height: 70px;
$nav-color: #383838;
$logo-size: 40px;
$font-stack: Source Serif, serif;
$nav-font-size: 1.1rem;


.center-all {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bottom-shadow {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.topnav-container {
  @extend .center-all;
  @extend .bottom-shadow;

  background-color: $nav-color;
  color: #fff;
  height: $container-height;
  width: 100%;
  z-index: 2;
}

.topnav-content {
  @extend .center-all;

  justify-content: space-between;
  width: 94%;
}

.topnav-logo {
  height: $logo-size;
}

.topnav-searchbar {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: $font-stack;
  font-size: $nav-font-size;
  height: $container-height * 0.48;
  padding: 0 8px;
  width: 20%;
}
